.contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .contact-container h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  label[for="message"] {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    margin: auto;
  }

  textarea {
    margin: 0 auto;
    display: block;
  }

label[for="email"],
label[for="subject"] {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

input[type="email"],
input[type="text"] {

  margin: auto;
  display: block;
  margin-bottom: 5px;
}
#message {
    margin: auto;
}

.text-form {
  font-size: larger;
  font-weight: bold;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #45a049;
}
