.home-container {
  text-align: center;
  padding-top: 50px;
  margin-top: none;
  color: brown;
}


.social-links {
  margin-top: 20px;
}

.social-links a {
  color: brown;
  font-size: 40px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #e01818;
}

.quick-links {
  margin-top: 30px;
}

.quick-links a {
  display: block;
  color: brown;
  font-size: 18px;
  margin: 10px 0;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
  
}

.quick-links a:hover {
  color: #e01818;
}
