.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  opacity: 0.9;
}

.menu-toggle {
  display: block;
  background: brown;
  border: 2px;
  cursor: pointer;
  padding: 0;
  margin-left: 1px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  margin-right: 10px;
  padding: 5px;
}

.search-container button {
  background-color: #007bff;
  color: #e01818;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.sidebar {
  position: fixed; /*  flotante */
  /*top: 10%;*/
  left: -100%; /* para ocultar la barra */
  /*width: 250px;  Ancho de la barra lateral */
  /*height: 15%;  Altura de la barra lateral */
  background-color: black;
  border-radius: 5px;
  border-end-end-radius: 10px;
  transition: left 0.5s; /* Agrega una transición para animar la aparición/desaparición */
  z-index: 4;
  opacity: 0.9;
}

.sidebar.show {
  left: 0;
}

.sidebar-menu {
  display: none;

}

.sidebar.show .sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}

.sidebar.show .sidebar-menu li:not(:last-child) {
  border-right: none;
}



.sidebar-menu li {
  width: 300px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  opacity: 0.8;
  color: #e01818; 
}


.sidebar-menu li a {
  text-decoration: none;
  color: brown 
}

.sidebar-menu li a:hover {
  color: #ff4500; 
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 150px; 
  height: auto;
  margin: 0 10px; 
}

button {
  z-index: 6;
}
