
.navbar-container {
  position: relative;
  z-index: 2; /* Asigna un valor positivo, mayor que 1 */
}


.service-container {
  position: relative;
  height: 100vh;
  z-index: 3; /* Asigna un valor positivo mayor que el de .navbar-container */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Asigna un valor positivo menor que el de .navbar-container */
}
